export HF_HOME=/workspace/linalg-zero/hf-cache
export HUGGINGFACE_HUB_CACHE=/workspace/linalg-zero/hf-cache
export VLLM_WORKDIR=/workspace/linalg-zero/vllm-cache
export UV_CACHE_DIR=/workspace/linalg-zero/uv-cache
export XDG_CACHE_HOME=/workspace/linalg-zero/.cache
export PIP_CACHE_DIR=/workspace/linalg-zero/pip-cache

export OPENPIPE_API_KEY=<...>
export WANDB_API_KEY=<...>
export VLLM_API_KEY="my-secret-key"
export ACCELERATE_MIXED_PRECISION=bf16
export VLLM_NO_USAGE_STATS=1

export HF_HUB_NAMESPACE=<...>
export HF_TOKEN=<...>
export HF_REPO_PRIVATE=1
